fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 5px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 4px 4px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
border{
    color: #FFD2D2;
}